---
layout: main
---
<h2>Version <span style="font-weight:bold;" id="version"></span></h2>
<h3>Your download will start in <span style="font-weight:bold;" id="count">5</span> seconds...</h3>
{{ content }}
<script>
releases_url = "https://github.com/po-unfold/game/releases/latest";
releases_api = "https://api.github.com/repos/po-unfold/game/releases/latest";
function download(ext) {
	fetch(releases_api)
	.then((r)=>r.text())
	.then((t)=>{
		t = JSON.parse(t);
		document.getElementById('version').innerText = t.tag_name;
		for (num=0;num<t.assets.length;num++) {
			asset = t.assets[num];
			if (asset.name.endsWith(ext)) {
				function countdown() {
						c = document.getElementById('count');
						c.innerText = c.innerText - 1;
						if (c.innerText > 0) {setTimeout(countdown, 1000)}
				}
				setTimeout(countdown, 1000);
				setTimeout(function(){
					window.location.replace(asset.browser_download_url);
				}, 5000);
				break;
			}
		}
	})
	.catch(()=>{
		window.location.replace(releases_url);
	})
}
download('{{ page.ext }}');
</script>
